matplotlib==3.8.2
munkres==1.1.4
numpy==1.25.2
pandas==2.2.2
pytorch_lightning==1.9.5
scikit_learn==1.3.2
scipy==1.11.4
torch==2.0.0
torchmetrics==1.4.2
git+https://github.com/PetrochukM/PyTorch-NLP.git
tensorboard==2.14.0
